<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello from Home Template {{ title }}</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quaerat iste error doloribus! Quis eos,
        esse dignissimos distinctio, incidunt laborum, eveniet temporibus at iste odit commodi? Dicta veniam quas
        commodi!

    </p>
    <pre>{{ persons }}</pre>

    <table>
        <tr>
            <th>S. No</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
        {% for person in persons %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.age }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>