{% extends "base.html" %}

{% block title %}Recipes{% endblock %}

{% block content %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Receipe name</label>
            <input type="text" class="form-control" name="receipe_name" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Receipe description</label>
            <textarea class="form-control" name="receipe_description"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Receipe Image</label>
            <input type="file" class="form-control" id="exampleInputPassword1" name="receipe_image">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <!-- receipesList -->
    <div class="receipesList">
        {% for receipe in receipesList %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if receipe.receipe_image %}
                    <label>Image:</label><br>
                    <img src="{{ receipe.receipe_image.url }}" class="img-fluid rounded-start" alt="Recipe Image">
                    {% else %}
                    <label>Image:</label> No image uploaded
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <label>Name:</label>
                        <h5 class="card-title">{{ receipe.receipe_name }}</h5>
                        <label>Description:</label>
                        <p class="card-text">{{ receipe.receipe_description }}</p>
                        <label>Last updated:</label>
                        <p class="card-text">
                            <small class="text-muted">
                                {{ receipe.updated_at|date:"Y-m-d H:i" }}
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}